{% extends 'base.html.twig' %}

{%  block content %}

    <div class="row justify-content-md-center">
        <div class="col col-sm-12">
            <h2>Les dernier ajouts</h2>

            <ul>
                {% for book in lastBooks %}
                    <li><a href="{{ path('detail_book', {'id' : book.id}) }}">{{ book.title }}</a> by {{ book.author.name }}</li>
                {% endfor %}
            </ul>

        </div>
    </div>

{% endblock %}
