{% extends 'base.html.twig' %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col col-sm-6">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_widget(form) }}
            </div>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a href="{{ path('list_book') }}" class="btn btn-secondary">Annuler</a>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}